@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Custom Color Palette */
  --color-primary-bg: #E8E5E0;
  --color-secondary-bg: #BBBAB5;
  --color-accent-bronze: #A25824;
  --color-accent-olive: #777669;
  --color-text-dark: #1a1a1a;
  --color-text-light: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary-bg: var(--color-primary-bg);
  --color-secondary-bg: var(--color-secondary-bg);
  --color-accent-bronze: var(--color-accent-bronze);
  --color-accent-olive: var(--color-accent-olive);
  --color-text-dark: var(--color-text-dark);
  --color-text-light: var(--color-text-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Playfair Display', serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}